
.bdsft-webrtc
	.callControl.destination-container.fadeable.popup.classes
		input.destination(type='text', onclick='this.focus();this.select()')
		button.historyButton(title='Call History')
			i.icon-clock
		.dialpadHolder
		.control-bar
			div
				a.call.main-button(href='') Video
				a.callAudio.main-button(href='') Audio

